---
tasks:
  - name: ensure docker installed and run
    community.ansible.script:

  - name: add user to group docker 
  - name: pull image run
    community.docker.docker_image:
      name: <dockerhub_username>/<image_name>
      tag: latest
      source: pull
      state: present

  - name: copy .env docker container file to this
    ansible.builtin.copy:
      src: ~/
      dest: /tmp/.env

  - name: login to dockerhub
    community.docker.docker_login:
      username: "{{ docker_hub_username }}"
      password: "{{ docker_hub_password }}"
      email: "{{ docker_hub_email }}" # Optional, but often required for Docker Hub
      registry_url: "https://index.docker.io/v1/" # Default for Docker Hub, can be omitted
      state: present

  - name: start the container docker
    community.docker.docker_container:
      name: website_contaiener
      image: "{{ DOCKER_IMAGE }} / {{ DOCKER_PASSWORD }}"
      state: present
      env_file: .env
      ports:
        - "8080:8080"
